body {
    background-color: slategrey;
    padding: 2rem;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#forma {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#nuevaTarea {
    width: 50vh;
    border-radius: 5px;
}

.tareas {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}